<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <%= form_with model: @post do |f| %>
            <div class="form_group row mt-5">
                <%= f.label :start_time, '日付', class: 'col-md-3 col-form-label' %>
                <div class="col-md-9">
                    <%= f.datetime_select :start_time, class: 'form-control' %>
                </div>
            </div>
            <div class="form_group row mt-5">
                <%= f.label :title, 'タイトル', class: 'col-md-3 col-form-label' %>
                <div class="col-md-9">
                    <%= f.text_field :title, class: 'form-control' %>
                </div>
            </div>
            <% end %>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>